<!-- feedback-form.component.html -->
<div>
  <link href="feedback-form.component.css" rel="stylesheet">
  <div class="styleform">
<div class="text-center mt-2 mb-2">             
  <a href='feedback-form.component.html'><img src="assets/BDACLogo.png" width="160px" alt=""></a>
</div>
<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="contactName" [(ngModel)]="contactName" required><br>
      <label for="Email">Email:</label>

      <input type="email" name="contactEmail" [(ngModel)]="contactEmail" required><br>
      <label for="Phone Number">Phone Number:</label>

      <input type="number" name="contactPhoneNumber" [(ngModel)]="contactPhoneNumber" required><br><br>
    </div>
    <div>
      <label for="feedbackType">Feedback Type:</label>
      <select name="feedbackType" [(ngModel)]="feedbackType" required>
        <!-- Options for the dropdown list -->
        <option value="Complaint">Complaint</option>
        <option value="Compliment">Compliment</option>
        <option value="Suggestion">Feedback</option>
      </select><br>

      <label for="source">Source:</label>
      <select name="source" [(ngModel)]="source" required>
        <!-- Options for the dropdown list -->
        <option value="option1">Supplier</option>
        <option value="option2">Option 2</option>
      </select><br>

      <label for="feedbackCategory">Feedback Category:</label>
      <select name="feedbackCategory" [(ngModel)]="feedbackCategory" required>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
      </select><br>

      <label for="feedbackSubCategory">Feedback SubCategory:</label>
      <select name="feedbackSubCategory" [(ngModel)]="feedbackSubCategory" required>
        <option value="suboption1">Suboption 1</option>
        <option value="suboption2">Suboption 2</option>
      </select><br>

      <label for="dateReceived">Date Received:</label>
      <input type="datetime-local" name="dateReceived" [(ngModel)]="dateReceived" required><br>

      <label for="text">Text:</label>
      <textarea name="text" [(ngModel)]="text"></textarea><br>

      <label for="notes">Notes:</label>
      <textarea name="notes" [(ngModel)]="notes"></textarea><br>

      <label for="wantToBeContacted">Want to be contacted?:</label>
      <input type="checkbox" name="wantToBeContacted" [(ngModel)]="wantToBeContacted"><br>

      <button type="submit">Enviar</button><br>
    </div>
    

   

    
  </form>
</div>
