<!-- feedback-form.component.html -->
<head>
  <link
    id="favIconLink"
    rel="shortcut icon"
    type="image/x-icon"
    href="C:\Users\s07e05\Downloads\FeedbackWebForm-kilverth\src\assets\iconBDAC.png"
  />
  <title>Feedback and Complains</title>
  <link href="feedback-form.component.css" rel="stylesheet" />
</head>
<body>
  <div>
    <div class="text-center mt-2 mb-2 stylelogo">
      <a href="feedback-form.component.html"
        ><img
          src="C:\Users\s07e05\Downloads\FeedbackWebForm-kilverth\src\assets\LogoBDAC.png"
          width="260px"
          alt=""
      /></a>
    </div>
    <h1 class="textformh1">Feedback and Complains</h1>
    <div class="styleform">
      <div>
        <form (ngSubmit)="onSubmit()">
          <div>
            <h2 class="textformh2">About Your Feedback</h2>
            <label for="feedbackType" class="textform"
              ><p>Feedback Type</p></label
            >
            <select
              name="feedbackType"
              class="boxform1"
              [(ngModel)]="feedbackType"
              required
            >
              <option value="" disabled selected>Feedback Type</option>
              <option value="Complaint">Complaint</option>
              <option value="Compliment">Compliment</option>
              <option value="Suggestion">Suggestion</option></select
            ><br />
            <label for="source" class="textform"><p>Source</p></label>
            <select
              name="source"
              class="boxform1"
              [(ngModel)]="source"
              required
            >
              <option value="" disabled selected>Source</option>
              <option value="Community Member">Community Member</option>
              <option value="Legal Representative">Legal Representative</option>
              <option value="Patient">Patient</option>
              <option value="Police">Police</option>
              <option value="Service/ Agency (please include in your feedback)">
                Service/ Agency (Please Include In Your Feedback)
              </option>
              <option value="Supplier">Supplier</option>
              <option value="Other Service Provider">
                Other Service Provider
              </option>
              <option value="Other (Please Include In Your Feedback)">
                Other (Please Include In Your Feedback)
              </option></select
            ><br />

            <label for="feedbackCategory" class="textform"
              ><p>Feedback Category</p></label
            >
            <select
              class="boxform1"
              name="feedbackCategory"
              [(ngModel)]="feedbackCategory"
              required
            >
              <option value="" disabled selected>Feedback Category</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option></select
            ><br />

            <label for="feedbackSubCategory" class="textform"
              ><p>Feedback SubCategory</p></label
            >
            <select
              class="boxform1"
              name="feedbackSubCategory"
              [(ngModel)]="feedbackSubCategory"
              required
            >
              <option value="" disabled selected>Feedback SubCategory</option>
              <option value="suboption1">Suboption 1</option>
              <option value="suboption2">Suboption 2</option></select
            ><br />

            <label for="dateReceived" class="textform"
              ><p>Date Received</p></label
            >
            <input
              class="boxform1"
              type="datetime-local"
              name="dateReceived"
              id="dateReceived"
              required
            /><br />

            <label for="text" class="textform"><p>Text</p></label>
            <textarea name="text" class="boxform1" [(ngModel)]="text" required ></textarea
            ><br />

            <label for="notes" class="textform"><p>Notes</p></label>
            <textarea
              name="notes"
              class="boxform1"
              [(ngModel)]="notes"
              required
            ></textarea
            ><br />
            <form (ngSubmit)="onSubmit()">
              <div>
                <h2 class="textformh2 field hidden">
                  If You Would Like To Be Contacted
                </h2>
                <label for="name" class="textform field hidden">
                  <p>First Name</p>
                </label>
                <input
                  class="boxform1 field hidden"
                  type="text"
                  name="contactName"
                  [(ngModel)]="contactName"
                /><br />
                <label for="name" class="textform field hidden">
                  <p>Last Name</p>
                </label>
                <input
                  class="boxform1 field hidden"
                  type="text"
                  name="contactName"
                  [(ngModel)]="contactName"
                /><br />
                <label for="Email" class="textform field hidden"> <p>Email</p> </label>
                <input
                  class="boxform1 field hidden"
                  type="email"
                  name="contactEmail"
                  [(ngModel)]="contactEmail"
                /><br />
                <label for="Phone Number" class="textform field hidden">
                  <p>Phone Number</p>
                </label>
                <input
                  class="boxform1 field hidden"
                  type="number"
                  name="contactPhoneNumber"
                  [(ngModel)]="contactPhoneNumber"
                /><br /><br />
              </div>
            </form>
            <input
              type="checkbox"
              id="showfields"
              class="textform"
              onchange="toggleFields()"
            />
            Want To Be Contacted?
            <div class="d-grid mb-2 mx-4">
              <button class="btn-Send btn" type="submit" value="Send">
                SEND
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="text-center mt-2 mb-2 end"></div>
  <script>
    function toggleFields() {
      var fields = document.querySelectorAll(".field"); // Obtener todos los elementos con la clase "campo"
      var checkbox = document.getElementById("showfields"); // Obtener el checkbox

      // Establecer el estilo de visualización de los campos y títulos según el estado del checkbox
      for (var i = 0; i < fields.length; i++) {
        if (checkbox.checked) {
          fields[i].classList.remove("hidden"); // Mostrar campos y títulos
        } else {
          fields[i].classList.add("hidden"); // Ocultar campos y títulos
        }
      }
    }
    const dateReceivedInput = document.getElementById("dateReceived");

    const currentDate = new Date();

    const timeZoneOffset = currentDate.getTimezoneOffset();

    const adjustedDate = new Date(
      currentDate.getTime() - timeZoneOffset * 60000
    );

    const formattedDate = adjustedDate.toISOString().slice(0, 16);

    dateReceivedInput.value = formattedDate;
  </script>
</body>
